.audioplayer {
    height: 2.5em; /* 40 */
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    border: 1px solid #222;
    position: relative;
    z-index: 1;
    background: #333;
    border-radius: 2px;
}

.audioplayer-mini {
    width: 100%; /* Ocupa toda a largura */
    margin: 0 auto;
}

.audioplayer > div {
    position: absolute;
}

.audioplayer-playpause {
    width: 2.5em; /* 40 */
    height: 100%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0;
}

.audioplayer-time,
.audioplayer-volume {
    width: 4.375em; /* 70 */
    height: 100%;
    line-height: 2.375em; /* 38 */
    text-align: center;
    z-index: 2;
    top: 0;
}

.audioplayer-bar {
    height: 0.875em; /* 14 */
    background-color: #222;
    cursor: pointer;
    z-index: 1;
    top: 50%;
    left: 10%; /* Margem esquerda */
    right: 10%; /* Margem direita */
    margin-top: -0.438em; /* 7 */
}

.audioplayer-volume {
    border-left: 1px solid #111;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 520px) {
    .audioplayer-bar {
        left: 5%; /* Margem esquerda reduzida */
        right: 5%; /* Margem direita reduzida */
    }
}
